<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Title</li>
                <li>Article</li>
                <li>Author</li>
            </ul>
        </nav>
    </header>
    {% block content %}
        
    {% endblock %}
    <footer>
        <h2 style="align-items: center;"><a href='http://127.0.0.1:8000/blogs/create/'>Contribute!</a></h2>
    </footer>
</body>
</html>